In [ ]:
import polars as pl

print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

Loading diamonds dataset...
Dataset loaded successfully!

In [ ]:
#Question1
df.height

6000

In [ ]:
#Question2
col_names = df.columns
col_names

['Carat Weight',
 'Cut',
 'Color',
 'Clarity',
 'Polish',
 'Symmetry',
 'Report',
 'Price']

In [ ]:
#Question3
#Each row represents the characteristics of a diamond (grain = 1 row is 1 diamond)
df.head()

shape: (5, 8)
┌──────────────┬───────┬───────┬─────────┬────────┬──────────┬────────┬───────┐
│ Carat Weight ┆ Cut   ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price │
│ ---          ┆ ---   ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---   │
│ f64          ┆ str   ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64   │
╞══════════════╪═══════╪═══════╪═════════╪════════╪══════════╪════════╪═══════╡
│ 1.1          ┆ Ideal ┆ H     ┆ SI1     ┆ VG     ┆ EX       ┆ GIA    ┆ 5169  │
│ 0.83         ┆ Ideal ┆ H     ┆ VS1     ┆ ID     ┆ ID       ┆ AGSL   ┆ 3470  │
│ 0.85         ┆ Ideal ┆ H     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3183  │
│ 0.91         ┆ Ideal ┆ E     ┆ SI1     ┆ VG     ┆ VG       ┆ GIA    ┆ 4370  │
│ 0.83         ┆ Ideal ┆ G     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3171  │
└──────────────┴───────┴───────┴─────────┴────────┴──────────┴────────┴───────┘

In [ ]:
#Question4
import polars as pl

carat_count = df.select(pl.col('Carat Weight').sum()).item()
carat_count

8007.120000000001

In [ ]:
#Question5
cut_variety = df.select(pl.col('Cut').unique())
cut_variety_count = df.select(pl.col('Cut').n_unique()).item()
print(cut_variety)
print(f'Total unique varieties of cut = {cut_variety_count}')

shape: (5, 1)
┌─────────────────┐
│ Cut             │
│ ---             │
│ str             │
╞═════════════════╡
│ Ideal           │
│ Fair            │
│ Very Good       │
│ Signature-Ideal │
│ Good            │
└─────────────────┘
Total unique varieties of cut = 5

In [ ]:
#Question6
most_expensive_rock = df.select(pl.col('Price').max()).item()
cheapests_rock = df.select(pl.col('Price').min()).item()
print(f'The most expensive diamond costs ${most_expensive_rock:,.2f}')
print(f'and the cheapest diamond costs ${cheapests_rock:,.2f}')

The most expensive diamond costs $101,561.00
and the cheapest diamond costs $2,184.00

In [ ]:
#Question7
price_by_color = df.group_by('Color').agg(pl.col('Price').mean())
price_by_color

#new grain = 1 row is 1 color
#now each row represents the average price for all diamonds of a particular color

shape: (6, 2)
┌───────┬──────────────┐
│ Color ┆ Price        │
│ ---   ┆ ---          │
│ str   ┆ f64          │
╞═══════╪══════════════╡
│ I     ┆ 8989.636364  │
│ D     ┆ 15255.783661 │
│ H     ┆ 10487.347544 │
│ F     ┆ 12712.241856 │
│ G     ┆ 12520.050633 │
│ E     ┆ 11539.190231 │
└───────┴──────────────┘

In [ ]:
#Question8
clarity_based = df.group_by('Clarity').agg(
    pl.col('Clarity').count().alias('count'),
    pl.col('Price').mean().alias('avg_Price'),
     pl.col('Carat Weight').sum().alias('total_carat_weight'))

clarity_based

shape: (7, 4)
┌─────────┬───────┬──────────────┬────────────────────┐
│ Clarity ┆ count ┆ avg_Price    ┆ total_carat_weight │
│ ---     ┆ ---   ┆ ---          ┆ ---                │
│ str     ┆ u32   ┆ f64          ┆ f64                │
╞═════════╪═══════╪══════════════╪════════════════════╡
│ VS2     ┆ 1575  ┆ 11809.053333 ┆ 2170.81            │
│ SI1     ┆ 2059  ┆ 8018.864012  ┆ 2563.69            │
│ VVS1    ┆ 285   ┆ 16845.680702 ┆ 389.43             │
│ FL      ┆ 4     ┆ 63776.0      ┆ 7.87               │
│ VVS2    ┆ 666   ┆ 14142.177177 ┆ 876.58             │
│ IF      ┆ 219   ┆ 22105.844749 ┆ 316.0              │
│ VS1     ┆ 1192  ┆ 13694.113255 ┆ 1682.74            │
└─────────┴───────┴──────────────┴────────────────────┘

In [ ]:
#Question9
cut_color_based = df.group_by(['Cut', 'Color']).agg(pl.col('Price').mean().alias('avg_Price'))
cut_color_based

#New grain = 1 row is 1 cut-color combo
#Each row represents the average price for cut-color combinations

shape: (30, 3)
┌─────────────────┬───────┬──────────────┐
│ Cut             ┆ Color ┆ avg_Price    │
│ ---             ┆ ---   ┆ ---          │
│ str             ┆ str   ┆ f64          │
╞═════════════════╪═══════╪══════════════╡
│ Good            ┆ I     ┆ 8174.113043  │
│ Ideal           ┆ D     ┆ 18461.953571 │
│ Very Good       ┆ F     ┆ 12413.905495 │
│ Very Good       ┆ E     ┆ 12101.910217 │
│ Ideal           ┆ E     ┆ 12647.107914 │
│ …               ┆ …     ┆ …            │
│ Signature-Ideal ┆ D     ┆ 19823.1      │
│ Good            ┆ G     ┆ 9988.614865  │
│ Ideal           ┆ G     ┆ 13570.310145 │
│ Good            ┆ D     ┆ 10058.716216 │
│ Signature-Ideal ┆ G     ┆ 10248.296875 │
└─────────────────┴───────┴──────────────┘

In [ ]:
#Question10
cut_color_combo = df.group_by(['Cut', 'Color']).agg(
    pl.col('Price').sum().alias('Total_Value'),
    pl.col('Cut').count().alias('Diamond_Count')
)
cut_color_combo.head().sort('Total_Value', descending=True)

shape: (5, 4)
┌─────────────────┬───────┬─────────────┬───────────────┐
│ Cut             ┆ Color ┆ Total_Value ┆ Diamond_Count │
│ ---             ┆ ---   ┆ ---         ┆ ---           │
│ str             ┆ str   ┆ i64         ┆ u32           │
╞═════════════════╪═══════╪═════════════╪═══════════════╡
│ Good            ┆ G     ┆ 1478315     ┆ 148           │
│ Good            ┆ H     ┆ 1220497     ┆ 128           │
│ Good            ┆ I     ┆ 940023      ┆ 115           │
│ Signature-Ideal ┆ H     ┆ 410071      ┆ 45            │
│ Fair            ┆ H     ┆ 141804      ┆ 24            │
└─────────────────┴───────┴─────────────┴───────────────┘